@charset "ISO-8859-1";


body{
	background: #FDFCCD;
}
.menu-list {
	 width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.menu-img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-content {
    flex-grow: 1;
}

.menu-name {
    font-size: 1.2em;
    color: #333;
    margin: 0;
}

.menu-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.menu-rating {
    color: black;
    font-weight: bold;
}

.menu-price {
    color: #AF0000;
    font-weight: bold;
}

.menu-description {
    margin-top: 10px;
    color: #666;
}

.menu-nutrition {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.menu-more {
    text-decoration: none;
    color: #0066cc;
    margin-top: 5px;
    display: inline-block;
}

.btn-add-cart {
    background-color: #AF0000;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add-cart:hover {
    background-color: black;
}

.no-menus {
    text-align: center;
    padding: 50px;
    color: #999;
}
