@charset "ISO-8859-1";
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FDFCCD;
}

.menu {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo h1 {
    color: #AF0000;
    font-size: 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    font-weight: 500;
}
.nav ul li input[type="text"] {
  padding: 8px;
  border:solid #AF0000;
  border-radius: 4px;
  margin-right: 8px;
}
.nav ul li button[type="submit"] {
  padding: 10px 15px;
  border: none;
  background-color: #AF0000; 
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-logo {
            font-size: 24px; 
            color: #AF0000; 
        }

.nav ul li a:hover, .nav ul li a.active {
    color: #AF0000;
}

.input-group a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.signin {
    background-color: #AF0000;
    color: #fff;
    margin-right: 0.5rem;
}

.signin:hover {
    background-color: black ;
}

.signUp {
    background-color: #AF0000;
    color: #fff;
}

.signUp:hover {
    background-color: black;
}

.hero {
    text-align: center;
    padding: 1rem 0;
    background: url('hero-bg.jpg') no-repeat center center/cover;
}

.hero h1 {
    background-color: #AF0000;
    color: #fff;
    font-size: 3rem;
   margin-top: 5px;
}

h1{
	text-align: center;
}



.restaurant.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
   
}

.image-container {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
     background-color: #fff;
    
}
  
.image-container a {
    display: block;
    margin-bottom: 10px;
}

.restaurant-img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.image-container h4 {
    margin: 10px 0;
    color: #AF0000;
    font-size: 1.2em;
    
}

.image-container p {
    margin: 5px 0;
    color:black;
    font-size: 0.9em;
}
.image-container:hover .restaurant-img {
    opacity: 0.8; 
}
.scrollable-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #fff;
}

.scrollable-wrapper::-webkit-scrollbar {
    display: none;
}

.scrollable-wrapper {
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.scrollable-wrapper .items a {
    text-decoration: none;
}


.items div {
    display: inline-block;
}

.item-img {
	
    width: 180px;
    height: 180px;
    background: none;
    
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
}
.item-img:hover {
    opacity: 0.85; 
}


.footer {
    position: relative;
    z-index: 0;
    background-color: #fff; /* White footer background */
    min-height: 300px;
    width: 100%;
    padding: 50px 0;
    color: #333; /* Default text color */
    font-family: Arial, sans-serif;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.points {
    color: #808080; /* Grey text */
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    margin: 0;
    padding: 0;
}

.footer-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-li {
    padding: 10px 0;
}

.footer-li a {
    color: #AF0000; 
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.footer-li a:hover {
    font-weight: 600;
}

.points img {
    border: 2px solid #808080; /* Grey border */
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.points img:hover {
    transform: scale(1.06);
    cursor: pointer;
}


    
    